USE [DBTsapkovaDemoExam21]
GO
/****** Object:  Table [dbo].[Defect]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Defect](
	[Defectid] [int] IDENTITY(1,1) NOT NULL,
	[DefectName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Defect] PRIMARY KEY CLUSTERED 
(
	[Defectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[Deviceid] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[Deviceid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phase]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phase](
	[Phaseid] [int] IDENTITY(1,1) NOT NULL,
	[PhaseName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Phase] PRIMARY KEY CLUSTERED 
(
	[Phaseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priority]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priority](
	[Priorityid] [int] IDENTITY(1,1) NOT NULL,
	[PriorityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Priority] PRIMARY KEY CLUSTERED 
(
	[Priorityid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Requestid] [int] NULL,
	[RequestData] [date] NULL,
	[RequestDeviceid] [int] NULL,
	[RequestDefectid] [int] NULL,
	[RequestClientid] [int] NULL,
	[RequestDescription] [nvarchar](50) NULL,
	[RequestStatusid] [int] NULL,
	[RequestMasterid] [int] NULL,
	[RequestTime] [int] NULL,
	[RequestPrioryid] [int] NULL,
	[RequestPhaseid] [int] NULL,
	[RequestComment] [nvarchar](300) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Roleid] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Statusid] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Statusid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04.10.2024 7:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Userid] [int] IDENTITY(101,1) NOT NULL,
	[UserFullName] [nvarchar](150) NOT NULL,
	[UserLogin] [varchar](50) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[UserRoleid] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Defect] ON 

INSERT [dbo].[Defect] ([Defectid], [DefectName]) VALUES (1, N'Механическая')
INSERT [dbo].[Defect] ([Defectid], [DefectName]) VALUES (2, N'Электрическая')
INSERT [dbo].[Defect] ([Defectid], [DefectName]) VALUES (3, N'Ошибки эксплуатации')
SET IDENTITY_INSERT [dbo].[Defect] OFF
GO
SET IDENTITY_INSERT [dbo].[Device] ON 

INSERT [dbo].[Device] ([Deviceid], [DeviceName]) VALUES (1, N'Токарный станок АП567')
INSERT [dbo].[Device] ([Deviceid], [DeviceName]) VALUES (2, N'Фрезерный станок 12')
INSERT [dbo].[Device] ([Deviceid], [DeviceName]) VALUES (3, N'Расточный станок ТИ90')
SET IDENTITY_INSERT [dbo].[Device] OFF
GO
SET IDENTITY_INSERT [dbo].[Phase] ON 

INSERT [dbo].[Phase] ([Phaseid], [PhaseName]) VALUES (1, N'Выполнено')
INSERT [dbo].[Phase] ([Phaseid], [PhaseName]) VALUES (2, N'В работе')
INSERT [dbo].[Phase] ([Phaseid], [PhaseName]) VALUES (3, N'Не выполнено')
SET IDENTITY_INSERT [dbo].[Phase] OFF
GO
SET IDENTITY_INSERT [dbo].[Priority] ON 

INSERT [dbo].[Priority] ([Priorityid], [PriorityName]) VALUES (1, N'Низкий')
INSERT [dbo].[Priority] ([Priorityid], [PriorityName]) VALUES (2, N'Высокий')
INSERT [dbo].[Priority] ([Priorityid], [PriorityName]) VALUES (3, N'Средний')
SET IDENTITY_INSERT [dbo].[Priority] OFF
GO
INSERT [dbo].[Request] ([Requestid], [RequestData], [RequestDeviceid], [RequestDefectid], [RequestClientid], [RequestDescription], [RequestStatusid], [RequestMasterid], [RequestTime], [RequestPrioryid], [RequestPhaseid], [RequestComment]) VALUES (1, CAST(N'2023-03-12' AS Date), 1, 1, 125, N'Износ элементов конструкции', 1, 105, 0, 1, 1, N'Null')
INSERT [dbo].[Request] ([Requestid], [RequestData], [RequestDeviceid], [RequestDefectid], [RequestClientid], [RequestDescription], [RequestStatusid], [RequestMasterid], [RequestTime], [RequestPrioryid], [RequestPhaseid], [RequestComment]) VALUES (2, CAST(N'2023-03-13' AS Date), 2, 2, 126, N'Нарушение в электрических цепях', 2, 110, 0, 1, 2, N'Null')
INSERT [dbo].[Request] ([Requestid], [RequestData], [RequestDeviceid], [RequestDefectid], [RequestClientid], [RequestDescription], [RequestStatusid], [RequestMasterid], [RequestTime], [RequestPrioryid], [RequestPhaseid], [RequestComment]) VALUES (3, CAST(N'2023-03-14' AS Date), 3, 3, 127, N'Износ деталей', 3, 105, 120, 2, 2, N'Null')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Roleid], [RoleName]) VALUES (1, N'Заказчик')
INSERT [dbo].[Role] ([Roleid], [RoleName]) VALUES (2, N'Мастер')
INSERT [dbo].[Role] ([Roleid], [RoleName]) VALUES (3, N'Оператор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Statusid], [StatusName]) VALUES (1, N'В ожидании')
INSERT [dbo].[Status] ([Statusid], [StatusName]) VALUES (2, N'В работе')
INSERT [dbo].[Status] ([Statusid], [StatusName]) VALUES (3, N'Выполнено')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Userid], [UserFullName], [UserLogin], [UserPassword], [UserRoleid]) VALUES (101, N'Ефремов Сергей Пантелеймонович', N'loginDEppn2018', N'6}i+FD', 1)
INSERT [dbo].[User] ([Userid], [UserFullName], [UserLogin], [UserPassword], [UserRoleid]) VALUES (102, N'Родионова Тамара Валентиновна', N'loginDElqb2018', N'RNynil', 1)
INSERT [dbo].[User] ([Userid], [UserFullName], [UserLogin], [UserPassword], [UserRoleid]) VALUES (103, N'Миронова Галина Улебовна', N'loginDEydn2018', N'34I}X9', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRoleid])
REFERENCES [dbo].[Role] ([Roleid])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
